<div class="figure">
    <div class="caption">David Lowe in the Photography Room</div>
    <%= image_tag "davidlowe.jpg" %>
</div>

<p>I’m David Lowe, Photography Specialist at the New York Public Library, and the primary editor of PIC. Since about 2003, I’ve been collecting, aggregating, cleaning and researching the information presented here. I came to my position in the library's Photography Collection circuitously- by way of art school, various jobs in art handling and a commercial gallery- bypassing any practical education or experience in either photo history or archive management. I rather stumbled my way into my position at NYPL, and immediately began a thorough survey of the collection, to note the locations of our cataloged material, and to make some record of our backlog of uncataloged photographs. This project allowed me to begin rearranging our physical collection- to store all of a photographer’s work together, arranged alphabetically. So from day one, photographers’ identities have been central to my work at NYPL.</p>


<p>At that time the George Eastman House (now the <%= link_to "George Eastman Museum", "https://eastman.org/" %>) hosted a database of biographical data on some 90,000 photographers. It was a DOS interface, but the wealth of good information it contained was absolutely invaluable to my cataloging work. Its original editors had left the museum, no one was maintaining it, and it became increasingly unstable- sometimes offline for days or weeks at a time. Fearful of permanently losing it, I set out to make my own copy of it. I found that if I searched “*” it would give me the entire list of 90,000 entries- 20 names on the screen at a time. Naturally, I copied and pasted them all into a spreadsheet (twice, actually, to ensure I’d not made a mistake). Because this gave me only the names, nationalities and dates of the photographers, I manually checked those that seemed to be duplicate entries or names whose data was too scant to be of use. After this initial cleaning, my list was reduced to about 65,000 “good” names. In 2010, the GEH database crashed one final time.</p>

<blockquote>I found that if I searched “*” it would give me the entire list of 90,000 entries- 20 names on the screen at a time.</blockquote>

<div class="figure">
    <div class="caption">PIC started as an Excel spreadsheet. The colors represent the provenance of the cell information (e.g.: purple for NYPL).</div>
    <%= image_tag "excel.png" %>
</div>

<p>Believing that I alone had all of this information, I continued the work of collecting and enriching my photographer data, checking it against other big lists and biographical dictionaries, adding missing names or dates, upgrading initials to full names, adding genders, addresses and any other useful information I could find. Assuming I wasn't the only researcher who would benefit from this work, I hoped to get my list online in some form that could help fill the void left by the GEH database. (As it turned out, the original editors of that database, Andrew Eskind and Greg Drake, had a full copy, and it is again online at <%= link_to "photographydatabase.org", "//photographydatabase.org" %>). I migrated my sprawling spreadsheet into the Photography Collection’s cataloging database, where it has continued to expand and deepen (as of March 2016, there are over 115,000 photographers in PIC).</p>

<div class="figure">
    <div class="caption">Some of the data in the catalog comes from directories like these 1940s directories of the Photographers’ Association of America</div>
    <%= image_tag "directory.jpg" %>
</div>

<p>While I have spent countless hours collecting, cleaning and researching the information found here, I am deeply indebted to, and grateful for, the excellent work of all the researchers whose databases, websites and books are credited and indexed here. Thanks also to Stephen Pinson, Elizabeth Cronin and all of my colleagues in the Photography Collection, and Mauricio Giraldo and Ben Vershbow of the NYPL Labs team who have supported and encouraged the creation of the Photographers' Identities Catalog.</p>
