<div id="hero">
<div class="wrapper">
    <h1 id="photographers-identities-catalog">Photographers’ Identities Catalog</h1>
</div>
</div>

<div class="wrapper">

<div id="intro">
<p class="intro">Photographers’ Identities Catalog (PIC) is a growing collection of biographical data describing photographers, studios, manufacturers, and others involved in the production of photographic images in the last 175 years. Each entry consists of a Name, Nationality, Date(s), and Sources from which the entry was derived. Where known, they also include at least some of the following: gender, role (if other than Photographer), photographic processes and formats used, locations (of birth, death, studio addresses, or areas of activity) and their corresponding dates, and known repositories of their work. PIC is an increasingly thorough resource for the attribution and dating of photographs, and hopefully of interest to broader historical and genealogical communities, as well. The information has been culled from trusted biographical dictionaries, catalogs and databases, and from extensive original research by NYPL Photography Collection staff.</p>

<a data-no-turbolink href="/map" class="enter-link">Enter PIC</a>

<p class="intro more">Learn more about PIC below.</p>
</div>
</div>

<div class="wrap-sample" id="samples">
    <div class="wrapper">

        <ul class="main-nav">
            <li class="samples"><a href="#samples">Samples</a></li>
            <li class="faq"><a href="#faq">FAQ</a></li>
            <li class="background"><a href="#background">Background</a></li>
        </ul>

        <h2>Sample Use Cases</h2>

        <div class="cases">
            <div class="use-case">
            <%= image_tag "sample-01.png" %>
            <h3>Learn about a topic of interest</h3>
            <p>Want to read about 19th century female photographers in England? Select Female from the Gender options, England from the Address Country options, and set the end date to 1900. You could also select Wikipedia from the Sources, and within each entry, you’ll find a link directly to the article. In fact, many of the Sources have great biographies, so check them out!</p>
            <%= link_to "Try it!", map_url, :class => "sample-link" %>
            </div>

            <div class="use-case">
            <%= image_tag "sample-02.png" %>
            <h3 id="find-photographs-by-a-particular-photographer">Find photographs by a particular photographer</h3>
            <p>Trying to locate work by James Presley Ball Sr.? Search his name in the search bar, then click his name to learn what collections we know that have his photographs. Click List Locations and you'll see the zig-zagging arc of his career; try contacting museums or libraries in these places, and you may find more work by him.</p>
            <%= link_to "Try it!", map_url, :class => "sample-link" %>
            </div>

            <div class="use-case">
            <%= image_tag "sample-01.png" %>
            <h3 id="identify-and-date-your-photographs">Identify and date your photographs</h3>
            <p> Have old family photographs you’re trying to date? Many studio portraits print the photographer’s name and address on the photo. Often, PIC has the dates a studio occupied a specific address. For instance, William Watson Washburn operated a studio at 26 Camp Street, New Orleans from 1849-1853. After that he moved to 120 Canal Street.</p>
            <%= link_to "Try it!", map_url, :class => "sample-link" %>
            </div>

            <div class="use-case">
            <%= image_tag "sample-03.png" %>
            <h3 id="have-fun-explore">Have fun &amp; explore!</h3>
            <p>PIC has information on more than 110,000 photographers and studios, and it's growing daily. So spin the globe & have a look around. You might find world traveling photographers like Chester Burger and Kay Simmon Blumberg, photographers at the North or South Pole, or even in outer space!</p>
            <%= link_to "Try it!", map_url, :class => "sample-link" %>
            </div>
        </div>

    </div>
</div>

<div class="wrap-how" id="how-to">
<div class="wrapper">

<h2>How To</h2>

<p>We hope you find PIC intuitive to use, but we understand that you may find some things quirky or confusing. Let us know if you’re having problems, and we’ll consider how we can make PIC more useful for you. In the meantime, here’s a tour of the interface and how to use it.</p>

<p>The screen is divided into three sections: the search column to the left, the search results in the center, and the map. Any of them can be minimized by clicking the X in the upper right of the column.</p>

<p>In the top right corner of the map, you can click the grid icon to select how you’d like to view the map- flat (default) or as a globe.  <br>
On the left of this is the location search bar. This lets you zoom to a particular place on the map. This doesn’t affect what information is displayed on the map, it just lets you look at a location up close. <br>
In the top left, you’ll find in plain English what the map is showing you. This will change as you click on points or use search or filters in the search column. </p>

<p>In the leftmost column you can search and filter the PIC data. <br>
Search for a name with the search bar. If you don’t find what you’re looking for, be less specific. Try just a last name. This may give you too many results. If you know where your person or studio existed, zoom to that location by using the location search bar on the map. You can also set a specific time frame to limit the search results. Setting a beginning and end year will show only events that happened within that range. <br>
Use filters, such as Gender, Process or Collection, etc. to further limit your results. <br>
Note that the Location filter changes to a set of geographic coordinates when you click a point on the map. PIC then shows only the photographers or studios who are in that specific location (and who match all other criteria you have selected). If you want to see all the search results, regardless of their location, simply select Any from the Location filter. <br>
To start over completely, select Clear All Filters (located just above the search bar).</p>

<p>The results of your search and filtering are displayed as a list in the center column. Click on a name to reveal more information and to more closely examine locations associated with that name. Show Locations zooms and recenters the map, and Connect Locations, well, connects those dots from birth to death, and chronologically in between.</p>

</div>
</div>

<div class="wrap-faq" id="faq">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Frequently Asked Questions</h2>



<h3 id="im-a-photographer-can-i-be-listed-in-pic">I’m a photographer. Can I be listed in PIC?</h3>

<p>Given the ubiquity of cameras in the digital age, it’s simply not possible for us to maintain biographies for all contemporary photographers. To maintain PIC as a useful research and discovery tool, we include photographers in the collections of public institutions, or who are otherwise newsworthy. If your work is in a museum somewhere, ask them to contact us with their list of photographers. We also include many contemporary photographers with biographies in Wikipedia and WikiData, which maintain their own standards of notability. We regularly update PIC with new entries found there.</p>



<h3 id="i-have-a-collection-of-photographs-will-pic-link-to-it">I have a collection of photographs. Will PIC link to it?</h3>

<p>PIC does not track private collections or the stables of commercial galleries. If you are a museum, library, historical society, or other archive which is open to the public, we’d love to learn more about your photograph collection. Contact us!</p>



<h3 id="why-are-there-so-many-people-on-a-tiny-island-off-the-west-coast-of-africa">Why are there so many people on a tiny island off the west coast of Africa?</h3>

<p>That’s not actually an island, and there’s not actually anyone there. That point is located at the coordinates 0’ latitude &amp; 0’ longitude, and we use it to map information when we don’t know a location (in the cartography world, it’s often called “<%= link_to "Null Island", "https://en.wikipedia.org/wiki/Null_Island", :title => "View more information in Wikipedia" %>”). If, for instance, we know someone was born in 1872, but we don’t know where, we put the point on Null Island. You can help us evacuate the island by finding locations we’re missing!</p>



<h3 id="i-have-information-pic-lacks-or-ive-spotted-an-error-how-do-i-contribute-or-request-a-correction">I have information PIC lacks, or I’ve spotted an error. How do I contribute or request a correction?</h3>

<p>Please let us know! Use the feedback link in the bottom right of the map. It is helpful if you include the Record ID number to identify the photographer in question. That ID can be found after the Name, Nationality and Dates of the constituent.</p>



<h3 id="if-pic-is-about-photographers-identities-why-is-the-map-so-prominent">If PIC is about photographer’s identities, why is the map so prominent?</h3>

<p>Time and place can be essential information if you’re trying to identify a photographer. With hundreds of entries for people with the last name “Williams”, it would be really inefficient to scroll through, and click into, each entry to find the “Williams” active in the location you’re looking for. Also, place-names can change over time, and national borders move, so the map allows you to browse for studios in Saint Petersburg, even if the city was called Leningrad at the time. Also, PIC data skews heavily toward the United States and Europe, but we want to represent the whole of photo history. It’s important to be able to see at a glance where we have more work to do. Plus, maps are just fun!</p>



<h3 id="where-did-all-these-photographer-biographies-come-from">Where did all these photographer biographies come from?</h3>

<p>We’ve listed all of our sources in each record so you can double check our work. It’s a mix of trusted books, databases and websites published by photography scholars, as well as Wikipedia and Wikidata. When a source is a US Census, City or Business Directory, Military Records or Death Records, that means NYPL staff has conducted original research on the subject. (See Background for more information on the George Eastman House database)</p>

</div>
</div>

<div class="wrap-background" id="background">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Background</h2>

<div class="figure">
    <div class="caption">David Lowe in the Photography Room</div>
    <%= image_tag "davidlowe.jpg" %>
</div>

<p>I’m David Lowe, Photography Specialist at the New York Public Library, and the primary editor of PIC. Since about 2003, I’ve been collecting, aggregating, cleaning and researching the information presented here. I came to my position in the library's Photography Collection circuitously- by way of art school, various jobs in art handling and a commercial gallery- bypassing any practical education or experience in either photo history or archive management. I rather stumbled my way into a secretarial position at NYPL. At that time, the Photography Collection was maintained by a single staffer, whose position I assumed when she left in 2002. Thanks to budget uncertainty and hiring freezes, I would remain the sole steward of this monumental, encyclopedic collection until the hiring of curator Stephen Pinson in 2005. Desperate to make the unmanageable manageable, I immediately began a thorough survey of the collection, to note the locations of our cataloged material, and to make some record of our backlog of uncataloged photographs. This allowed me to begin rearranging our physical collection- to store all of a photographer’s work together, arranged alphabetically. So from day one, photographers’ identities have been central to my work at NYPL.</p>

<p>At that time the George Eastman House (now the George Eastman Museum) hosted a database of biographical data on some 90,000 photographers. It was a clunky DOS interface, it was rife with duplicates and entries with too little information to be useful, but the wealth of good information it contained was absolutely invaluable to my work. Its original editors had left the museum, no one was maintaining it, and it became increasingly unstable- sometimes offline for days or weeks at a time. Fearful of permanently losing it, I set out to make my own copy of it. I found that if I searched “*” it would give me the entire list of 90,000 entries- 20 names on the screen at a time. Naturally, I copied and pasted them all into a spreadsheet (twice, actually, to ensure I’d not made a mistake). Because this gave me only the names, nationalities and dates of the photographers, I manually checked those that seemed to be duplicate entries or names whose data was too scant to be of use. After this initial cleaning, my list was reduced to about 65,000 “good” names. In 2010, the GEH databased crashed one final time.</p>

<blockquote>I found that if I searched “*” it would give me the entire list of 90,000 entries- 20 names on the screen at a time.</blockquote>

<div class="figure">
    <div class="caption">Some of the data in the catalog comes from directories like these</div>
    <%= image_tag "directory.jpg" %>
</div>

<p>Believing that I alone had all of this information, I continued the work of collecting and enriching my photographer data, checking it against other big lists and biographical dictionaries, adding missing names or dates, upgrading initials to full names, adding genders, addresses and any other useful information I could find. (As it turned out, the original editors of the GEH database, Andrew Eskind and Greg Drake, had a full copy, and it is again online at <a href="//photographydatabase.org">photographydatabase.org</a>). To the initial chagrin of my boss and colleagues, I migrated my sprawling spreadsheet into the Photography Collection’s cataloging database, where it has continued to expand and deepen (as of 2016, there are roughly 115,000 photographers in PIC).</p>

<p>While I have spent countless hours collecting, cleaning and researching the information found here, I am deeply indebted to, and grateful for, the excellent work of all the researchers whose databases, websites and books are indexed here. Thanks also to Stephen Pinson, my colleagues in the Photography Collection, and the NYPL Labs team who have not only tolerated, but supported and encouraged the creation of the Photographers' Identities Catalog.</p>

</div>
</div>

<div id="footer">
  <p>
    • <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a> •
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a> •<br> • <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a> •
  </p>

  <p>A project of <a href="http://www.nypl.org/collections/labs">NYPL Labs</a> and the <a href="http://wallachprintsandphotos.nypl.org/">The Miriam and Ira D. Wallach Division of Art, Prints and Photographs</a>.</p>


  <p><a href="http://www.nypl.org" class="nypl" title="Visit NYPL.org"><span class="icon-icon_lion"></span>The New York Public Library</a></p>
  <p>© The New York Public Library, Astor, Lennox, and Tilden Foundation 2015</p>
</div>