<div id="hero">
<div class="wrapper">
    <h1 id="photographers-identities-catalog">Photographers’ Identities Catalog</h1>
</div>
</div>

<div class="wrapper">

    <div id="intro">
    <%= render :partial => "intro" %>
    </div>
</div>

<div class="wrap-sample" id="samples">
    <div class="wrapper">

        <ul class="main-nav">
            <li class="samples"><a href="#samples">Samples</a></li>
            <li class="faq"><a href="#faq">FAQ</a></li>
            <li class="background"><a href="#background">Background</a></li>
        </ul>

        <h2>Sample Searches</h2>

        <%= render :partial => "samples" %>

    </div>
</div>

<div class="wrap-faq" id="faq">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Frequently Asked Questions</h2>

<%= render :partial => "faq" %>

</div>
</div>

<div class="wrap-background" id="background">
<div class="wrapper">

<ul class="main-nav">
    <li class="samples"><a href="#samples">Samples</a></li>
    <li class="faq"><a href="#faq">FAQ</a></li>
    <li class="background"><a href="#background">Background</a></li>
</ul>

<h2>Background</h2>

<%= render :partial => "background" %>

</div>
</div>


<%= render :partial => "footer" %>

<div id="feedback" class="preload"></div>
