<% content_for :dynamic_js do %>
  <%= stylesheet_link_tag    "/assets/lib/Cesium/Widgets/widgets", :media => "all" %>
  <%= stylesheet_link_tag    "pic", :media => "all" %>
  <%= javascript_include_tag "/assets/lib/Cesium/Cesium" %>
  <%= javascript_include_tag "/assets/lib/csvToArray.v2.1" %>
  <%= javascript_include_tag "/assets/lib/history" %>
  <%= javascript_include_tag "/assets/lib/history.adapter.native" %>
  <%= javascript_include_tag "PIC" %>

<% end %>
<% content_for :page_name do %>
&nbsp;&nbsp;/&nbsp;&nbsp;Map<%= link_to "Help", "#", :class => "map-help-link" %>
<% end %>

    <div id="webgl-overlay">
        <p>PIC requires a browser that supports the <a href="https://www.khronos.org/webgl/">WebGL 3D graphics API</a>.<br />Unfortunately your browser seems not to support it (or it is disabled).<br />Please update your browser:<br /><br />
            <a class="browser" href="//firefox.com">Get Firefox</a>
            <a class="browser" href="//www.apple.com/safari/">Get Safari</a>
            <a class="browser" href="//www.microsoft.com/en-us/windows/microsoft-edge">Get Microsoft Edge</a>
            <a class="browser" href="//www.google.com/chrome/">Get Google Chrome</a>
            <a class="browser" href="//www.opera.com/">Get Opera</a>
        </p>
    </div>

    <div id="map-help">
    <div class="scroller">
        <%= render partial: "help_popup" %>
    </div>
    </div>

    <div id="credits"></div>
    <div id="cesiumContainer">
        <div id="total-points"></div>
        <ul class="legend">
            <li class="born"><span class="color"></span><span class="label">Born</span></li>
            <li class="active"><span class="color"></span><span class="label">Active in</span></li>
            <li class="biz"><span class="color"></span><span class="label">Business</span></li>
            <li class="died"><span class="color"></span><span class="label">Died</span></li>
            <li>Overlapping points become brighter</li>
        </ul>
        <div id="hover"></div>
        <div id="bounds">
            <span class="button apply">Apply</span>
            <span class="button cancel">Cancel</span>
        </div>
        <div class="minimize">Minimize</div>
        <div class="maximize hidden">Maximize</div>
    </div>
    <div id="facet-container">
        <div id="facets">
            <div id="facet-list">
                <a id="facets-clear" class="link disabled">Clear all filters</a>
                <div class="facet">
                    <label for="nameQuery">Name or ID</label>
                    <input type="text" class="text" id="nameQuery" />
                    <div class="icon query" title="search by name" onclick="_pic.applyFilters()"></div>
                </div>
                <div class="timeline facet">
                    <label>Date range</label>
                    <div class="date-field">
                        <label for="nameQuery">From</label>
                        <input type="text" class="date text" id="fromDate" />
                    </div>
                    <div class="date-field">
                        <label for="nameQuery">To</label>
                        <input type="text" class="date text" id="toDate" />
                    </div>
                    <div class="icon query" title="search by date range" onclick="_pic.applyFilters()"></div>
                </div>
            </div>
            <div class="gh-link"><%= link_to "Get the full PIC data set on GitHub", "//github.com/NYPL/pic-data/", :target => "_blank" %></div>
        </div>
        <div class="minimize">Minimize</div>
        <div class="maximize hidden">Maximize</div>
    </div>
    <div id="constituents">
        <div class="scroller">
            <div class="results"></div>
            <div class="more"></div>
        </div>
        <div class="minimize">Minimize</div>
        <div class="maximize hidden">Maximize</div>
    </div>
    <div id="feedback" class="preload"></div>

  <script type="text/javascript">
    window.CESIUM_BASE_URL = '/assets/lib/Cesium/';
    var _pic;
    function init () {
        _pic = new PIC.PIC();
        _pic.bingMapsKey = "AhboAMIjuYTcfEbws5B3G1U95fG1jFCdR6PkoxyEd9TZ-4KOL_D8Zx2ChWopl_9B";
        _pic.tileUrl = "https://a.tiles.mapbox.com/v4/";
        _pic.rootPath = "<%= ENV['CLOUDFRONT_URL'] %>";
        _pic.baseUrl = "https://<%= ENV['ELASTIC_HOST'] %>/pic";
        _pic.authHeader = '<%= Base64.strict_encode64(ENV['ELASTIC_USER']+":"+ENV['ELASTIC_PASSWORD']) %>';
        _pic.geonamesUrl = "http://api.geonames.org/citiesJSON?username=mgiraldo";
        _pic.mapboxKey = "<%= ENV['MAPBOX_KEY'] %>";
        _pic.mapboxMap = 'nypllabs.8e20560b';
        _pic.minYear = <%= @min_year %>;
        _pic.nullIslandPath = '<%= asset_url('null-island.json') %>';
        _pic.meliesSpacePath = '<%= asset_url('melies-space.png') %>';
        _pic.meliesMoonPath = '<%= asset_url('melies-moon.png') %>';
        _pic.geoJsonPrefix = 'http://geojson.io/#data=data:text/x-url,<%= CGI.escape("#{request.protocol}#{request.host_with_port}") %>';
        _pic.adminMode = <%= @admin %>
        _pic.init();
    }

    function webgl_detect() {
        if (!!window.WebGLRenderingContext) {
            var canvas = document.createElement("canvas"),
                 names = ["webgl", "experimental-webgl", "moz-webgl"],
                    gl = false;
            for(var i in names) {
                try {
                    gl = canvas.getContext(names[i]);
                    if (gl && typeof gl.getParameter == "function") {
                        /* WebGL is enabled */
                        /* return true; */
                        return names[i];
                    }
                } catch(e) {}
            }
            /* WebGL is supported, but disabled */
            return false;
        }
        /* WebGL not supported*/
        return false;
    }

  $(function() {
    var has_webgl = webgl_detect();
    if (has_webgl) {
        $("#webgl-overlay").remove();
        init();
    }
  });
  </script>
