<% content_for :dynamic_title do %>
<%= "#{@constituent["DisplayName"]} | " %>
<% end %>
<%# content_for :dynamic_js do %>
  <%#= stylesheet_link_tag    "https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css", :media => "all" %>
  <%#= javascript_include_tag "https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js" %>
<%# end %>

    <main>
        <span class="constituentid">PIC ID: <%= @constituent["ConstituentID"] %></span>
        <section>
        <h1 class="name"><%= @constituent["DisplayName"] %></h1>
        <h2 class="subtitle"><%= @constituent["DisplayDate"] %></h2>
        <% if @constituent["gender"] && @constituent["gender"].count > 0 %>
        <span class="gender"><%= @constituent["gender"][0]["Term"] %></span>
        <% end %>
        <p><%= link_to "View raw data", "/constituents/#{@constituent["ConstituentID"]}.json" %></p>
        </section>
        <%# role %>
        <% if @constituent["role"] && @constituent["role"].count > 0 %>
        <section>
        <h3>Roles performed</h3>
        <ul class="role">
        <% @constituent["role"].each do |role| %>
            <li><%= link_to role["Term"], "/map/?role.TermID=#{role["TermID"]}", :title => "View PIC map of constituents with role #{role["Term"]}", :data => {no_turbolink: true} %></li>
        <% end %>
        </ul>
        </section>
        <% end %>
        <%# process %>
        <% if @constituent["process"] && @constituent["process"].count > 0 %>
        <section>
        <h3>Processes used</h3>
        <ul class="process">
        <% @constituent["process"].each do |process| %>
            <li><%= link_to process["Term"], "/map/?process.TermID=#{process["TermID"]}", :title => "View PIC map of constituents using process #{process["Term"]}", :data => {no_turbolink: true} %></li>
        <% end %>
        </ul>
        </section>
        <% end %>
        <%# collection %>
        <% if @constituent["collection"] && @constituent["collection"].count > 0 %>
        <section>
        <h3>Found in collections</h3>
        <ul class="collection">
        <% @constituent["collection"].each do |collection| %>
            <li><%= link_to collection["Term"], "/map/?collection.TermID=#{collection["TermID"]}", :title => "View PIC map of constituents found in #{collection["Term"]}", :data => {no_turbolink: true} %> (<a href="<%= collection["URL"] %>">visit site</a>)</li>
        <% end %>
        </ul>
        </section>
        <% end %>
        <%# biography %>
        <% if @constituent["biography"] && @constituent["biography"].count > 0 %>
        <section>
        <h3>Data from:</h3>
        <ul class="biography">
        <% @constituent["biography"].each do |biography| %>
            <li><%= link_to biography["Term"], "/map/?biography.TermID=#{biography["TermID"]}", :title => "View PIC map of constituents with source #{biography["Term"]}", :data => {no_turbolink: true} %> (<a href="<%= biography["URL"] %>">visit site</a>)</li>
        <% end %>
        </ul>
        </section>
        <% end %>
        <%# address %>
        <%
            total = @constituent["address"].count
            if @constituent["address"] && total > 0
                zoom_increase = 2
                max_zoom = 22
                base_zoom = 6
                size = 200
                count = 0
                max_maps = 10000
                colors = {}
                colors["2"] = "FF7F02"
                colors["5"] = "4CAD49"
                colors["6"] = "357CB7"
                colors["7"] = "E21919"
        %>
        <section>
        <h3>Locations:</h3>
        <p>
            <%= @constituent["DisplayName"] %> has <%= link_to (pluralize total, "location"), "/map/?DisplayName=#{@constituent["ConstituentID"]}##{@constituent["ConstituentID"]}", :title => "view map for #{@constituent["DisplayName"]}" %>.
            <% if total > max_maps %>
            Showing first <%= max_maps %>.
            <% end %>
        </p>
        <div class="locations">
        <% while count < max_maps && @constituent["address"][count] do %>
        <%
            address = @constituent["address"][count]
            zoom = base_zoom
            id = address["ConAddressID"]
            count = count + 1
            color = colors[address["AddressTypeID"]]
            addstring = ""
            if (address["State"] != "NULL")
                addstring = address["State"] + "<br />" + addstring
                zoom = zoom + zoom_increase
            end
            if (address["City"] != "NULL")
                addstring = address["City"] + ", " + addstring
                zoom = zoom + zoom_increase
            end
            if (address["StreetLine3"] != "NULL")
                addstring = address["StreetLine3"] + "<br />" + addstring
                zoom = zoom + zoom_increase
            end
            if (address["StreetLine2"] != "NULL")
                addstring = address["StreetLine2"] + "<br />" + addstring
                zoom = zoom + zoom_increase
            end
            if (address["StreetLine1"] != "NULL")
                addstring = address["StreetLine1"] + "<br />" + addstring
                zoom = zoom + zoom_increase
            end
            if (address["Country"] != "NULL") then addstring += address["Country"] + "<br />" end
            if zoom > max_zoom then zoom = max_zoom end
        %>
            <div class="location-<%= address["ConAddressID"] %>">
        <%
            if (address["Remarks"] != "NULL" && address["Remarks"] != "0,0" && address["Remarks"].split(",").count == 2)
                lonlat = address["Remarks"].split(",")[1] + "," + address["Remarks"].split(",")[0]
                mapimage = "https://api.mapbox.com/v4/nypllabs.8e20560b/pin-s+#{color}(#{lonlat})/#{lonlat},#{zoom}/#{size}x#{size}.png?access_token=#{ENV["MAPBOX_KEY"]}"
                if zoom + zoom_increase <= max_zoom
                    big_zoom = zoom+zoom_increase
                else
                    big_zoom = max_zoom
                end
                mapimage_big = "https://api.mapbox.com/v4/nypllabs.8e20560b/pin-l+#{color}(#{lonlat})/#{lonlat},#{big_zoom}/#{size}x#{size}.png?access_token=#{ENV["MAPBOX_KEY"]}"
        %>
<!-- commenting mapbox stuff out
                <style type="text/css">
                    /*.map-<%= id %> {
                        background-image: url('<%= mapimage %>');
                    }
                    .map-<%= id %>:hover {
                        background-image: url('<%= mapimage_big %>');
                    }*/
                </style>
                <div class="map map-<%= id %>">
                    <%#= image_tag mapimage, {"data-small": mapimage, "data-big": mapimage_big, "data-isbig": false, title: address["AddressType"], alt: address["AddressType"] } %>
                </div>
end no mapbox stuff -->
        <%
            end
        %>
                <div class="address">
                    <h4>
                        <%= address["AddressType"] %>
                        <% if address["DisplayName2"] != "NULL" %>(<%= address["DisplayName2"] %>)<% end %>
                    </h4>
                    <p><%= addstring.html_safe %></p>
                </div>
            </div>
        <% end %>
        </div>
        </section>
        <% end %>

    </main>


<%= render :partial => "footer" %>

<%# debug @constituent %>